/*-- scss:defaults --*/

@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,700,300italic,700italic);

// fonts
$font-family-sans-serif: 'Ubuntu', sans-serif !default;

// colors
$body-bg: #000000 !default;
$body-color: #eee !default;
$link-color: #2a76dd !default;
$selection-bg: $link-color !default;
$selection-color: #fff !default;
$input-panel-bg: rgba(233, 236, 239, 0.2) !default;

// headings
$presentation-heading-font: 'Century Gothic', sans-serif !default;
$presentation-heading-text-shadow: 2px 2px 2px $body-bg !default;
$presentation-heading-font-weight: 400 !default; // Set a lighter weight
$presentation-heading-text-transform: uppercase !default;
$font-size-base: 1.5em !default;


/*-- scss:rules --*/

.reveal p {
  font-weight: 300;
  text-shadow: 1px 1px $body-bg;
}

.reveal p code {
  display: inline-block;
  border-radius: 7px;
}

.reveal small code {
  vertical-align: baseline;
}

section.has-light-background {
  p,
  h1,
  h2,
  h3,
  h4 {
    text-shadow: none;
  }
}

.reveal {
  padding-top: 0 !important;
}

.reveal .slides {
  margin-top: 0 !important;
}

.title {
  font-size: 2.5em;
}

.reveal .author {
  font-size: 1.5em;
  margin-top: 0px !important; // Adjust spacing as needed
}

.reveal .committee {
  font-size: 1.5em;
  text-align: left !important;
  margin-bottom: 5px;
}


.reveal .cropped-logo {
  max-width: 200px; // Adjust the max-width as needed
  height: auto;
  clip-path: inset(8%); // Crop 10% from all sides
}

.reveal .large-title-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1em;
  text-align: center;
}

.reveal .large-title-slide h1 {
  margin: 0;
  color: #2a76dd !important;
  text-transform: none;
  font-weight: 800; // Adjust the font size as needed
  text-shadow: 3px 3px 3px $body-bg;
  padding-top: 2em;
  font-size: 5em !important; /* Use viewport width units to scale with screen size */
  line-height: 1; /* Ensure single line height */
  white-space: nowrap; /* Prevent text from wrapping */
}

.reveal h2 {
  margin-top: 0px !important;
  color: #2a76dd !important;
  top: 0px !important;
  text-transform: none;
  font-size: 1.8em;
  font-weight: 600; // Adjust the font size as needed
  text-shadow: 2px 2px 2px $body-bg;
}

.reveal h5 {
  text-transform: none;
  font-size: 1.5em;
  font-weight: 600; // Adjust the font size as needed
  text-shadow: 1.5px 1.5px 1.5px $body-bg;
}

.reveal h6 {
  text-transform: none;
  font-size: 1em;
  font-weight: 600; // Adjust the font size as needed
  text-shadow: 1.5px 1.5px 1.5px $body-bg;
}

section.level1 {
  top: 0px !important;
}

.mjx-math {
  color: #f1936e; /* Replace with your desired color */
}

/* For inline math */
.math.inline {
  color: #f1936e; /* Replace with your desired color */
}

/* For display math */
.math.display {
  color: #f1936e; /* Replace with your desired color */
}

section.level2 {
  top: 0px !important;
}

.reveal .plot-image {
  width: 60%;// Set the max-height as desired
  display: block;
  margin-left: 4em;
  object-fit: contain; // Maintain aspect ratio and fit within specified height
}


.plot-video1 {
  margin-top: 0em;
  width: 80%; 
  max-width: 400em; 
  // height: 0em;
  display: block;
  pointer-events: none; // Disable interaction
}

.plot-video {
  margin-top: 5em;
  width: 100%; 
  max-width: 400em; 
  // height: 0em;
  display: block;
  pointer-events: none; // Disable interaction
}



.plot-video3 {
  margin-top: 0px;
  width: 160%; 
  max-width: 1500px; 
  height: 800px;
  display: block;
  // pointer-events: none; // Disable interaction
}

hr.thin-white-line {
  border: none;
  border-top: 1px solid white;
  margin: 20px 0;
}


.reveal ol.custom-list > li {
  margin-bottom: 2em; // Adjust the value as needed
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.reveal .plot-ehvi {
  width: 200%;
  max-width: 200%; 
  text-align: right;
}
